/*
 * Common CSS library for HbbTV site of ProSiebenSat.1 Digital
 */

body {
    background: url("../img/s1_bg_1280x720.jpg") no-repeat scroll 0 0 #FFFFFF;
    color: #5D5B65;
}
#buttonBar {
    background-color: #FFFFFF;
}
a:focus, a:hover, a:active {
    background-color:#D300AB;
    color: #BFE9FF;
}
a {
    color: #5D5B65;
}
